body {
  background-image: url(https://images.pexels.com/photos/673535/pexels-photo-673535.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
}
header {
  font-size: 25px;
  margin: 0 0 15px 0;
}

h1 {
  font-size: 30px;
}

footer {
  font-size: 15px;
  text-align: right;
}
h1,
.currentTemp,
.currentDayData {
  font-family: "Nanum Gothic Coding", monospace;
  color: #2f2e41;
}

header,
footer {
  font-family: "Architects Daughter", cursive;
  color: #2f2e41;
}

.currentTemp {
  font-size: 25px;
}

form {
  text-align: center;
  padding: 10px;
  margin: 5px auto 20px auto;
  font-size: 20px;
}

ul {
  list-style: none;
}

img {
  position: absolute;
}

.celciusFah {
  font-size: 15px;
}

.currentDay {
  margin: 20px auto 10px;
}

.currentDayData {
  font-size: 16px;
  text-align: left;
}
.nextDays {
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
  margin: 35px auto;
}

.weekDay {
  color: #2f2e41;
  font-size: 20px;
}

.tempDay {
  color: #2f2e41;
  font-size: 25px;
}

.boxShadow {
  display: block;
  background: white;
  border-radius: 15px;
  border: 2px solid #2f2e41;
  margin: 4% 15%;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.4);
}

.currentweatherEmogi {
  font-size: 50px;
  display: block;
  text-align: right;
  color: #f7ba49;
}

.weatherEmogi {
  font-size: 35px;
  text-align: center;
  color: #f7ba49;
}

.searchCity,
.searchCurrentLocation {
  background-color: #e8c4bc;
  border: 2px solid #2f2e41;
  border-radius: 3px;
  color: #2f2e41;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.searchCity:hover,
.searchCurrentLocation:hover {
  background-color: #2f2e41;
  border: 2px solid #e8c4bc;
  color: #e8c4bc;
  transition: all 200ms ease-in-out;
  box-shadow: none;
}

.boxes {
  background-color: rgba(191, 190, 204, 0.4);
  margin: 10px;
  padding: 0;
  border-radius: 6px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  border: 2px solid #575a88;
}

.inputCity {
  border: 2px solid #6a5a42;
  background-color: #e8c4bc;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
